<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @market.name %>
</p>

<p>
  <b>Current lat:</b>
  <%= @market.current_lat %>
</p>

<p>
  <b>Current lng:</b>
  <%= @market.current_lng %>
</p>


<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
