

<p>
  
  <%= @market.name %>
  <%= @market.address %>
</p>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
 <div id= "map" >
   <%= gmaps4rails(@json) %>
   </div>