<!DOCTYPE html>
<html>
<head>
  <title>FreshConnect</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
   <%= javascript_include_tag "application" %>
 
  <%= csrf_meta_tags %>
  <%= yield :scripts %>
</head>
<body>

<%= render 'layouts/header' %>
<%= gmaps4rails_api_script_tags %>
<%= stylesheet_link_tag 'gmaps4rails' %>
<div id = "contanier">

<%= yield %>

<%= yield :scripts %>

 
   </body>
</html>
