<!DOCTYPE html>
<html>
<head>
  <title>FreshConnect</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "markets", media: "all" %>
   <%= stylesheet_link_tag    "bootstrap_and_customization", media: "all" %> 
   <%= javascript_include_tag "application" %>
 
  <%= csrf_meta_tags %>
  <%= yield :scripts %>
</head>
<body>


 <div "container">
 <%= render 'layouts/header' %>
  <%= gmaps4rails_api_script_tags %>
   <%= stylesheet_link_tag 'gmaps4rails' %>
<p class= "notice"><%= notice %></p>
<p class= "alert"><%= alert %></p>
<%= yield %>
<%= yield :scripts %>
</div>



 
   </body>
</html>
